.active {
  color: green;
}

.disabled {
  color: red;
}

.container {
  display: flex;

  .view-balance__container--text-balance {
    display: flex;
    align-items: center;
    margin-left: 9px;
  }
  .view-balance__txt--value-balance-invisible {
    display: block;
    height: 18px;
    width: 66px;
    border-radius: 4px;
    background-color: #d7d7d7;
  }
}
