<p [ngClass]="{'active': showBalance, 'disabled': !showBalance}">NgClass</p>

<div class="container">
  <img [class]="'view-balance__icon--eye-' + (showBalance ? 'invisible' : 'visible')" (click)="handleToggleVisibleBalance()" [src]="showBalance ? iconOff : iconOn">

  <div class="view-balance__container--text-balance">
    <span *ngIf="showBalance" class="view-balance__txt--value-balance">R$ {{ valueBalance }}</span>
    <!-- <span *ngIf="!iconToggle" class="view-balance__txt--value-balance-invisible">****</span> -->
    <span *ngIf="!showBalance" class="view-balance__txt--value-balance-invisible"></span>
  </div>
</div>
